
  <div class="navigation-bar">
    <div class="logo">
      <h1 class="logo-txt">Cover</h1>
    </div>
    <nav class="nav-links">
      <ul>
        <li class="nav-item active">
          <a id="nav-home" href="../../index.html" class="nav-link in-active">Home</a>
        </li>
        <li class="nav-item">
          <a id="nav-features" href="../pages/features.html" class="nav-link in-active">Features</a>
        </li>
        <li class="nav-item">
          <a id="nav-contact" href="../pages/contact.html" class="nav-link in-active">Contact</a>
        </li>
        <li class="nav-item">
          <a id="nav-blog" href="../pages/blog.html" class="nav-link in-active">Blog</a>
        </li>
      </ul>
    </nav>
  </div>
